:root {
  // COLORS

  --text-color: #2c3e50;
  --player-color: #16a085;
  --result-color: #8e44ad;
  --cross-color: #e74c3c;
  --zero-color: #3498db;
  --cell-color: #333;
  --disabled-btn-color: #bdc3c7;

  // START btn
  --background-start: linear-gradient(135deg, #4facfe, #00f2fe);
  --start-color-text: #fff;
  --shadow-color: rgb(0 242 254);
  --shadow-hover: 0 6px 15px rgb(0 242 254 / 40%);
  --shadow-active: 0 3px 8px rgb(0 242 254 / 30%);
}
