.choose_wrapper {
  margin-bottom: 1.5rem;
}

.btns_wrapper {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 0.5rem;
}

.player {
  font-weight: bold;
  color: var(--player-color);
}
